:root {
   --color-1: rgb(255, 45, 143);
}

.navbar-brand {
   font-weight: 800;
   font-size: 1.8rem;
}

.content {
   min-height: 60vh;
}

.btn {
   border-radius: 20px !important;
   padding: 0.4rem 1.4rem !important;
}

/* Product ****************************************************************/

.product-card {
   border-radius: 15px;
   height: 100%;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   overflow: hidden !important;
   position: relative;
}

.product-img {
   margin: 0 auto;
   width: 150px;
   height: 140px;
   transition: all 0.3s ease-in-out;
}

.product-img img {
   display: block;
   padding: 0.5rem;
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.product-content {
   padding: 0.8rem;
}

.product-category {
   background-color: var(--color-1);
   color: white;
   padding: 3px 8px;
   border-radius: 5px;
   font-size: 0.75rem;
   text-transform: capitalize;
   font-weight: 700;
}

.product-title {
   font-size: 0.85rem !important;
   opacity: 0.8;
}

.product-price {
   font-size: 0.8rem !important;
   font-weight: 600;
}

.product-btn {
   position: absolute;
   left: 0;
   bottom: 8px;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: flex-end;
   justify-content: space-evenly;
   transition: all 0.4s ease-in-out;
}

.product-btn .btn {
   font-size: 0.8rem;
   font-weight: 600;
}

.product-btn .btn:hover {
   background-color: black !important;
}

.product-card:hover .product-img {
   height: 140px;
}

.product-card:hover .product-btn {
   transform: translateY(0%);
}

@media screen and (min-width: 700px) {
   .product-img {
      height: 200px;
   }

   .product-btn {
      transform: translateY(100%);
      bottom: 40px;
   }

   .product-title {
      font-size: 1rem !important;
   }

   .product-price {
      font-size: 0.95rem !important;
   }
}
